// BASE VARIABLES:
// $color-primary: #4CAF50;
// $color-primary-dark: #388E3C;
$color-primary: #4CAF50;
$color-primary-dark: #388E3C;
$color-secondary: #757575;
$color-grey-light: #f2f2f2;
$color-grey-dark: #999;
$color-primary-text: #212121;
$color-secondary-text: #FFFFFF;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-footer: #333;
$color-tertiary--1: #FBDE44FF;
$color-tertiary--2: #F95700FF;
$color-tertiary--3: #3498db;
$color-tertiary--4: #2980b9;
 
// LENGTH VARIABLES
$width: 114rem;
$space-horizontal: 5rem;
$space-vertical-small: 5rem;
$space-vertical: 6rem;

// FONT
$default-font-size: 1.6rem;